<style type="text/css">
    .rcm-switch-user-admin button,
    .rcm-switch-user-admin label,
    .rcm-switch-user-admin p {
        margin: 5px 0px 5px 0px;
    }

    .rcm-switch-user-inject .alert {
        padding: 3px;
    }

    .rcm-switch-user-inject .alert-caution {
        background-color: #FFFFAA;
        border-color: #FFFF00;
        color: #999900;
    }
</style>
<div class="rcm-switch-user-admin container-fluid" ng-hide="loading">
    <div class="row form-inline">
        <div class="col-md-12" ng-show="message">
            <div class="alert alert-warning" role="alert">
                {{message.value}}
            </div>
        </div>
        <div class="col-md-3" ng-show="isSu">
            <label>Impersonating: {{impersonatedUser.id}}</label>
        </div>
        <div class="col-md-4">
            <input class="form-control input-sm"
                   id="switchToUserId"
                   placeholder="User Id"
                   ng-model="switchToUser"
                   type="text"/>
            <button class="btn btn-default btn-sm"
                    ng-click="switchTo()"
                    type="button">Switch to User
            </button>
        </div>
        <div class="col-md-4" ng-show="isSu">
            <input class="form-control input-sm"
                   id="suUserPassword"
                   placeholder="password"
                   ng-model="suUserPassword"
                   ng-show="switchBackMethod == 'auth'"
                   type="password"/>
            <button class="btn btn-primary btn-sm"
                    ng-click="switchBack()"
                    type="button">End Impersonation
            </button>
        </div>
    </div>
</div>
