<style type="text/css">
    .switch-user button,
    .switch-user label,
    .switch-user p {
        margin: 5px 0px 5px 0px;
    }

    .switch-user-inject .alert {
        padding: 3px;
    }

    .switch-user-inject .alert-caution {
        background-color: #FFFFAA;
        border-color: #FFFF00;
        color: #999900;
    }

</style>
<div class="switch-user container-fluid" ng-hide="propLoading">
    <div class="row form-inline">
        <div class="col-md-12" ng-show="propMessage">
            <div class="alert alert-warning" role="alert">
                {{propMessage.value}}
            </div>
        </div>
        <div class="col-md-3" ng-show="propIsSu">
            <label>Impersonating: {{propImpersonatedUser.id}} {{propImpersonatedUser.username}}</label>
        </div>
        <div class="col-md-4" ng-show="propShowSwitchToUserNameField">
            <form ng-submit="propOnSwitchTo()">
                <input class="form-control input-sm"
                       id="switchToUserName"
                       placeholder="Username"
                       ng-model="propSwitchToUserName"
                       type="text"/>
                <button class="btn btn-default btn-sm"
                        type="submit">{{propSwitchToUserNameLabel}}
                </button>
            </form>
        </div>
        <div class="col-md-4" ng-show="propIsSu">
            <form ng-submit="propOnSwitchBack()">
                <input class="form-control input-sm"
                       id="suUserPassword"
                       placeholder="password"
                       ng-model="propSuUserPassword"
                       ng-show="switchBackMethod == 'auth'"
                       type="password"/>
                <button class="btn btn-primary btn-sm"
                        type="submit">{{propSwitchBackLabel}}
                </button>
            </form>
        </div>
    </div>
</div>
